/* Reset default styles */
body,
h1,
h2,
h3,
ul,
li,
a,
p {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
}

/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fcf8e6;
    color: #EF476F;
    padding-top: 80px;
    margin-top: 80px;
}

/* Main settings */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 72vh;
    margin: 0;
    z-index: 1;
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fcf8e6;
    color: #EF476F;
    padding: 20px 0;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 30px;
}

#logo {
    font-size: 32px;
    font-weight: bold;
    color: #EF476F;
    text-decoration: none;
}

#logo:hover {
    color: grey;
}

h1 a {
    color: #EF476F;
}
p a {
    color: #EF476F;
}
p a:hover {
    color: grey;
}
/* Navigation Styles */
nav {
    text-align: center;
}

nav ul {
    padding: 10px;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #EF476F;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: grey;
}

#easyButton,
#mediumButton,
#hardButton {
        display: inline-block;
        padding: 5px 13px;
        margin: 10px;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        background-color: #EF476F;
        color: #fcf8e6;
        border: none;
        border-radius: 5px;
        transition: all 0.5s;
}

#easyButton:hover,
#mediumButton:hover,
#hardButton:hover {
    background-color: grey;
    color: #fcf8e6;
}

/* Dropdown menu styles */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.toggle {
    display: none;
}

.toggle-label {
    font-size: 24px;
    cursor: pointer;
}

.toggle-label:hover {
    color: grey;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: #fcf8e6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-content li {
    padding: 10px;
}

.toggle:checked+.toggle-label+.dropdown-content {
    display: block;
}


.game-area {
    background-color: #fcf8e6;
    display: block;
    box-sizing: border-box;
    width: 90%;
    max-width: 600px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.game-area h2 {
    border-bottom: 1px solid #EF476F;
    padding-bottom: 15px;
}
.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-weight: 600;
}



/* Container styles */
#level-container {
    text-align: center;
    top: 0;
    bottom: 0;
}

.info-box {
    border: none;
    text-align: center;
    top: 0;
    bottom: 0;
}

.container {
    width: 90%;
} 

/* Signup Section Styles */
.signup {
    max-width: 800px;
    margin: 0 auto;
}

.signup h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.signup p {
    margin-bottom: 20px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

form button:hover a {
    background-color: grey;
}


/*Button styles for start playing on index and levels*/
.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #EF476F;
    color: #fcf8e6;
    border: none;
    border-radius: 25px;
    transition: all 0.5s;
}

.button:hover {
    background-color: grey;
    color: #fcf8e6;
}

#level-container button:hover {
    background-color: grey;
    color: #fcf8e6;
}

/* button styles for question answers on game */
.btn {
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    margin: 10px 0;
    text-align: left;
    text-decoration: none;
    background-color: #EF476F;
    color: #fcf8e6;
    border: none;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
}

.btn:hover:not([disabled]) {
    background-color: grey;
    color: #fcf8e6;
}
.btn:disabled {
    cursor: no-drop;
}
/* styles for next button on game html */
#next-btn {
display: none;
padding: 10px;
font-weight: 500;
width: 150px;
margin: 20px auto 0;
background-color: #EF476F;
color: #fcf8e6;
border: none;
border-radius: 5px;
transition: all 0.5s;
cursor: pointer;
}

#next-btn:hover {
    background-color: grey;
    color: #fcf8e6;
}

.correct {
background: green;
}

.incorrect {
    background: red;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #fcf8e6;
    color: #EF476F;
    position:relative;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* Media Styles for smaller screens */
@media screen and (max-width: 800px) {
    body {
        padding-top: 50px;
        margin-top: 50px;
    }

    main {
        padding: 20px;
    }

    #logo {
        font-size: 24px; 
    }
    #game-container {
        max-width: fit-content;
        max-height: fit-content;
    }
    #info-box {
        padding-left: 10px;
    }
}

