/* Reset default styles */
body,
h1,
h2,
h3,
ul,
li,
a,
p {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
}

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #FFD166;
    color: #EF476F;
    padding-top: 80px;
    margin-top: 80px;
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFD166;
    color: #EF476F;
    padding: 20px 0;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 30px;
}

#logo {
    font-size: 32px;
    font-weight: bold;
    color: #EF476F;
    text-decoration: none;
}

#logo:hover {
    color: #FFFCF9;
}

/* Navigation Styles */
nav {
    text-align: center;
}

nav ul {
    padding: 10px;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #EF476F;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #FFFCF9;
}

/* Dropdown menu styles */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.toggle {
    display: none;
}

.toggle-label {
    font-size: 24px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: #FFD166;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-content li {
    padding: 10px;
}

.toggle:checked+.toggle-label+.dropdown-content {
    display: block;
}

/* Container styles */
#level-container {
    text-align: center;
}
#game-container {
    text-align: center;
}

.info-box {
    border: none;
    padding: 20px;   
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
 }

/* Media Styles for smaller screens */
@media screen and (max-width: 800px) {
    body {
        padding-top: 50px;
        margin-top: 50px;
    }

    main {
        padding: 20px;
    }

    #logo {
        font-size: 24px;
    }
}

/*Button styles for start playing on index*/
button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #EF476F;
    color: #FFD166;
    border: none;
    border-radius: 25px;
}
button a {
    color:#FFD166;
}
button a:hover {
    color: #fffcf9;
}
/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #FFD166;
    color: #EF476F;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}